:root {
  --main-background: rgb(31, 19, 5);
  --main-content: rgb(180, 225, 253);
  --grey: rgb(63, 63, 63);
  --red: rgb(255, 8, 131);
  --green: rgb(131, 255, 8);
  --orange: rgb(255, 131, 8);
  --blue: rgb(8, 131, 255);
  --purple: rgb(131, 8, 255);
  --teal: rgb(8, 255, 131);
  --indentation: 2ch;
  --font-size: 18px;
  --line-height: 20px;
  --line-height-margin: calc(var(--line-height) * 0.99);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: var(--main-background);
  color: var(--main-content);
  font-family: 'Courier Prime', monospace;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

body {
  padding: 2ch;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

main {
  max-width: 80ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  margin-bottom: var(--line-height-margin);
  clear: both;
}

h1 {
  color: var(--red);
}

h1::before {
  content: '# ';
}

h2 {
  color: var(--green);
}

h2::before {
  content: '## ';
}

h3 {
  color: var(--orange);
}

h3::before {
  content: '### ';
}

address {
  font-style: normal;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.profile {
  display: flex;
  float: left;
  margin-bottom: 1em;
}

.profile img {
  height: 12em;
}

.profile::after {
  content: '|\A|\A|\A\|\A|\A|\A|\A|\A|\A|\A|';
  white-space: pre;
  margin: 0 var(--indentation);
  color: var(--teal);
}

.bio {
  margin-bottom: var(--line-height-margin);
}

li {
  list-style-type: none;
  position: relative;
  padding-left: 2ch;
}

li::before {
  content: '-';
  color: var(--orange);
  position: absolute;
  left: 0;
}

.links {
  margin-bottom: var(--line-height-margin);
}

.links a {
  color: var(--blue);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.links a::before {
  content: '[';
  color: var(--purple);
}

.links a::after {
  content: '](' attr(href) ')';
  color: var(--purple);
}

.experience-details::before {
  content: '```yaml';
  color: var(--grey);
  display: block;
}

.experience-details::after {
  content: '```';
  color: var(--grey);
  display: block;
  margin-bottom: var(--line-height-margin);
}

.experience-details dt {
  padding-left: var(--indentation);
  color: var(--blue);
  display: inline;
  text-transform: lowercase;
}

.experience-details dt::after {
  content: ':';
  color: var(--purple);
}

.experience-details dd {
  color: var(--teal);
  display: inline;
}

.experience-details dd::after {
  content: ' ';
  display: block;
}

.experience-details .separator {
  color: var(--orange);
}

.experience-details ul {
  padding-left: calc(var(--indentation) * 2);
}

.experience-details time {
  color: var(--red);
}

.experience-details a {
  color: var(--red);
}

.experience-details address {
  display: inline;
  color: var(--red);
}

.has-line-numbers {
  position: relative;
  padding-left: 5ch;
  overflow: hidden;
}

.line-numbers {
  counter-reset: lines;
  text-align: right;
  color: var(--grey);
  position: absolute;
  top: 0;
  left: -1ch;
}

.line-numbers div::before {
  counter-increment: lines;
  content: counter(lines);
}

@media (max-width: 480px) {
  :root --line-height{
    --font-size: 14px;
    --line-height: 16px;
  }

  body,
  main {
    width: 100%;
  }

  .profile {
    float: none;
  }

  .profile::after {
    display: none;
  }

  .profile img {
    width: 100%;
    height: initial;
  }

  .line-numbers {
    display: none;
  }

  .has-line-numbers {
    padding-left: 0;
  }
}

@media (min-width: 481px) and (max-width: 800px) {
  :root {
    --font-size: 16px;
    --line-height: 18px;
  }

  main {
    overflow: hidden;
  }
}

@media print {
  :root {
    --main-background: rgb(255, 255, 255);
    --main-content: rgb(53, 53, 53);
    --grey: rgb(179, 179, 179);
    --red: rgb(230, 69, 105);
    --green: rgb(137, 210, 135);
    --orange: rgb(218, 183, 82);
    --blue: rgb(67, 158, 207);
    --purple: rgb(217, 97, 220);
    --teal: rgb(100, 170, 175);
    --font-size: 14px;
    --line-height: 16px;
  }

  body {
    padding: 0;
  }

  .line-numbers {
    display: none;
  }

  .has-line-numbers {
    padding-left: 0;
  }

  @page {
    size: A4;
    margin: 2em 6ch;
  }
}

